@model SimpleSupport.Models.Case

@{
    ViewBag.Title = "Summary";
}

<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Case: @Html.DisplayFor(model => model.CaseNumber) / Id: @Html.DisplayFor(model => model.Id)</div>
    </div>


    <div class="panel panel-default">
        <table class="table table-condensed table-responsive text-center">
            <thead>
                <tr>
                    <th>Child Id</th>
                    <th>Child Name</th>
                    <th>Overnights</th>
                    <th>Third Party Custody</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var child in Model.Children)
                {
                    <tr>
                        <td>@child.Id</td>
                        <td>@Html.ActionLink(child.Name, "Index", "Children", new { id = Model.Id }, null)</td>
                        <td>@child.Overnights</td>
                        <td>@child.ThirdPartyCustody</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    <div class="panel panel-default">
        <table class="table table-condensed table-responsive text-center">
            <thead>
                <tr>
                    <th>Party Id</th>
                    <th>Type</th>
                    <th>Execeptions</th>
                    <th>Exemptions Under 17</th>
                    <th>Health Care Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var party in Model.Parties)
                {
                    <tr>
                        <td>@party.Id</td>
                        <td>@Html.ActionLink(party.PartyType.Name, "Index", new { controller = "Party", id = Url.RequestContext.RouteData.Values["id"], partyId = party.Id }, null)</td>
                        <td>@party.Exemptions</td>
                        <td>@party.ExemptionsUnder17</td>
                        <td>@party.HealthCareAmount</td>
                    </tr>
                    foreach (var income in party.Incomes)
                    {
                        <tr class="success">
                            <td><strong>I</strong></td>
                            <td>@income.Id</td>
                            <td>@income.IncomeType.Name</td>
                            <td>@income.IncomeType.Code</td>
                            <td>@income.Amount</td>
                        </tr>
                    }
                    foreach (var deduction in party.Deductions)
                    {
                        <tr class="alert-danger">
                            <td><strong>D</strong></td>
                            <td>@deduction.Id</td>
                            <td>@deduction.DeductionType.Name</td>
                            <td>@deduction.DeductionType.Code</td>
                            <td>@deduction.Amount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


    <strong>@Html.DisplayNameFor(model => model.AspNetUserId):</strong> @Html.DisplayFor(model => model.AspNetUserId)
</div>